services:
  backend:
    build: ./backend
    container_name: finance_backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env  # <--- AQUI ESTÁ A CORREÇÃO
    environment:
      - NODE_ENV=production
    networks:
      - finance_net

  worker:
    build: ./backend
    container_name: finance_worker
    command: ["node", "dist/workers/recurringWorker.js"]
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    networks:
      - finance_net

  bulk-worker:
    build: ./backend
    container_name: finance_bulk_worker
    command: ["node", "dist/workers/bulkWorker.js"]
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    networks:
      - finance_net

  frontend:
    build: ./frontend
    container_name: finance_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - finance_net
    environment:
      - VITE_API_URL=http://backend:4000

  mongo:
    image: mongo:7
    container_name: finance_mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - finance_net

volumes:
  mongo_data:


networks:
  finance_net:
    driver: bridge
