grafana:
  enabled: true
  adminUser: admin
  adminPassword: admin123 # trocar para Secret/ExternalSecret em produção
  service:
    type: ClusterIP
  persistence:
    enabled: false
  ingress:
    enabled: false
prometheus:
  service:
    type: ClusterIP
  ingress:
    enabled: false
alertmanager:
  enabled: true
  service:
    type: ClusterIP
  ingress:
    enabled: false
# Desabilitar componentes não usados inicialmente para reduzir custo
kubeStateMetrics:
  enabled: true
nodeExporter:
  enabled: true
kubeEtcd:
  enabled: false
kubeScheduler:
  enabled: false
kubeControllerManager:
  enabled: false
