name: Dependabot Auto-Approve & Auto-Merge

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

permissions:
  contents: write
  pull-requests: write

jobs:
  automerge:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: ${{ secrets.SECRET_GITHUB_TOKEN }}

      - name: Auto-approve Dependabot PR
        uses: hmarr/auto-approve-action@v4
        with:
          github-token: ${{ secrets.SECRET_GITHUB_TOKEN }}

      - name: Enable auto-merge when CI succeeds (squash)
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.SECRET_GITHUB_TOKEN }}
          merge-method: squash
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
