replicaCount: 1

image:
  repository: 211125320014.dkr.ecr.us-east-1.amazonaws.com/finfy-frontend
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5173

resources:
  limits:
    cpu: 300m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 64Mi

env: []
# Example:
# env:
#   - name: VITE_API_BASE_URL
#     value: https://api.finfy.me

probes:
  liveness:
    path: /
    initialDelaySeconds: 10
    periodSeconds: 20
  readiness:
    path: /
    initialDelaySeconds: 5
    periodSeconds: 10
